
#about{
  width: 100%;
  height: 100vh;
  background: var(--corBranco);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content img{
  height: auto;
  width: 600px;
  max-width: 100%;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}

.text{
  width: 50%;
  max-width: 100%;
  padding: 0 10px;
  margin-top: 20px;
}

.content{
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.section-title {
  font-family: "Lato";
  color: var(--corPreto);
  font-size: 38px;
  margin-bottom: 8px;
}

.developer-name {
  color: #8257E5;
  font-family:"Supercell";
  font-size: 3.5rem;
  margin-bottom: 2px;
}

.developer-title {
  font-family: 'Lato', sans-serif;
  color: var(--corCinza);
  font-size: 22px;
  margin-bottom: 66px;
  transition: color 0.3s;
}

.developer-title:hover {
  color:var(--corPreto);
}

.intro-text {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}


.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1em;
}

.icon-link {
  font-size: 34px;
  color: #8257E5;
  border: 2px solid #e0e0e0; /* Cinza claro */
  border-radius: 10px;
  padding: 2px 6px;
  transition: border-color 0.3s; /* Adiciona uma transição suave para a cor da borda */
}

.icon-link:hover {
  transform: scale(1.08);
  background-color: var(--corBranco);
  border: 2px solid #8257E5;
  color: #8257E5;
  transition: .4s;
  cursor: pointer;
}

.btn-about {
  background-color: #8257E5;
  color: var(--corBranco);
  border: 2px solid transparent;
  border-radius: 0.5em;
  text-decoration: none;
  padding: 10px 28px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  transition: background-color 0.3s, color 0.3s; /* Adiciona uma transição suave para a cor de fundo e o texto */
  cursor: pointer;
}

.btn-about:hover {
  transform: scale(1.08);
  background-color: var(--corBranco);
  border: 2px solid var(--corRoxo);
  color: var(--corRoxo);
  transition: .4s;
  cursor: pointer;
}

@media screen and (max-width: 1180px){
  #about{
    width: 100%;
    height: 100vh;
    padding: 60px 20px;
  }

  .contact-icons{
    flex-wrap: wrap;
    flex: 1 50%; /* 2 ícones por linha */
    max-width: none;
  }
}

@media screen and (max-width: 650){
  .about .content img{
    margin-bottom: 35px;
  }
  .section-title{
    font-size: 30px;
    margin-bottom: 25px;
  }
  .contact-icons{
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .text {
    width: 100%;
  }

  .developer-title {
    font-size: 28px;
  }

  .intro-text {
    font-size: 26px;
    line-height: 24px;
  }
  .content img{
    display: none;
  }

  .icon-link{
    font-size:60px;
  }
}

@media screen and (max-width: 500px) {
  .developer-name {
    font-size: 2.5rem;
  }.developer-title{
    font-size: 1.2rem;
  }
  .icon-link{
    font-size: 36px;
  }
}


