#about-2 {
  height: auto;
  width: 100vw;
  background-color: #121214;
  padding: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza verticalmente */
  overflow: hidden;
}

.pedro-info {
  width: 90vw;
  max-width: 999px;
  height: auto;
  background-color:#202024;
  padding: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: auto auto;
  gap: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.pedro-img {
  width: 80%;
  max-width: 300px;
  border-radius: 10%; /* Transforma a imagem em um círculo */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}


.pedro-text {
  width: 50%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #E1E1E6;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: Supercell;
}

p {
  font-family: 'Poppins',sans-serif;
  margin: 10px 0;
  color: #E1E1E6;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  
}

strong {
  color: #8257E5;
  font-weight: bold;
}

.pedro-info:hover{
  border: 4px solid #8257E5;
  text-align: justify;
}


@media (max-width: 999px) {
  #about-2{
    padding: 80px 30px;
  }
  .pedro-info{
    padding: 0px;
    width: 100%;
    flex-direction: column;
  }
  .pedro-text{
    width: 90%;
  }
  #about-2{
    width: 100%;
    height: 100%;
  }
}