#about-2 {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  padding: 40px;
  overflow: hidden; /* Para esconder a sombra fora da borda */
}

.pedro-info {
  width: 90vw;
  max-width: 999px;
  height: auto;
  background-color: antiquewhite;
  padding: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: auto auto;
  border-radius: 14px;
}


.pedro-img {
  margin-right: 20px;
  width: 50%;
  max-width: 200px;
  border-radius: 50%; /* Transforma a imagem em um círculo */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  animation: rotate 4s linear infinite; /* Adiciona uma animação de rotação */
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}


.pedro-text {
  margin-left: 20px;
  width: 50%; 
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
  color: #555;
  font-size: 16px;
  line-height: 1.5;
}

strong {
  color: #333;
  font-weight: bold;
}

#about-2:hover {
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

@media (max-width: 999px) {
  .pedro-info{
    width: 80vw;
    flex-direction: column;
  }
}