:root{
  --corPreto: #000000;
  --corBranco: #FFFFFF;
  --corAzul: #2D85F3;
  --corCinza: #878787;
  --corBranco2: #F6F6F6;

}

/* ------------------------------------------------ GERAL ------------------------------------------------  */

@font-face {
  font-family: Acropolis;
  src: url('/fonts/Acropolis\ HTF-Black\ Regular.otf')format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Supercell';
  src: url('/fonts/Supercell-Magic\ Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Steelfish';
  src: url('/fonts/steelfish\ bd.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #efefef;
  min-height: 100vh;
}

main {
  height: 84vh;
}

/* ------------------------------------------------ NAV BAR ------------------------------------------------  */

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--corPreto);
  height: 16vh;
  text-decoration: none;

}

.logo-text { 
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-family: Acropolis;
  text-decoration: none;
  color: var(--corBranco);
  height: 10vh;
}

.text-nav{
  font-family: "Supercell";
  font-size: 12px;
  color: var(--corCinza);
  text-decoration: none;
  transition: 0.3s;
}

.text-nav:hover{
  opacity: 1;
  color: var(--corBranco);
}

.nav-list{
  list-style: none;
  display: flex;
}

.nav-list li{
  letter-spacing: 0 px;
  margin-left: 42px;
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.mobile-menu{
  cursor: pointer;
  display: none;
}
.mobile-menu div{
  width: 32px;
  height: 2px;
  background: #FFFFFF;
  margin: 8px;
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateY(-50px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width:999px){
  html, body{
    overflow-x: hidden;
  }

  .nav-list{
    position: absolute;
    top: 16vh;
    right: 0;
    width: 50vh;
    height: 92vh;
    background: var(--corPreto);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li{
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu{
    display: block;
  }
}

.nav-list.active{
  transform: translateX(0);
}

/* ------------------------------------------------ NAV BAR ------------------------------------------------  */

/* ------------------------------------------------ QUEM SOU EU ------------------------------------------------  */


.about{
  width: 100%;
  height: 100vh;
  background: var(--corBranco);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .content img{
  height: auto;
  width: 600px;
  max-width: 100%;
}

.text{
  width: 550px;
  max-width: 100%;
  padding: 0 10px;
}

.content{
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.text .section-title {
  font-family: Lato;
  color: var(--corAzul);
  font-size: 28px;
  margin-bottom: 8px;
  text-transform: capitalize;

}

.text .developer-name {
  color: var(--corPreto);
  font-family: Staatliches;
  font-size: 46px;
  margin-bottom: 5px;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.developer-title {
  font-family: 'Lato', sans-serif;
  color: var(--corCinza);
  font-size: 1.5vw;
  padding-top: 1vw;
  margin-bottom: 2vh;
  transition: color 0.3s;
}

.developer-title:hover {
  color: var(--corAzul);
}

.intro-text {
  font-family: Lato;
  color: var(--corPreto);
  font-size: 1.4vw;
  padding-bottom: 2vh;
  line-height: 1.5;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1em;
}

.icon-link {
  font-size: 1.3em;
  color: var(--corAzul);
  border: 3px solid #e0e0e0; /* Cinza claro */
  border-radius: 0.2em;
  padding: 2px 14px 2px 14px;
  transition: border-color 0.3s; /* Adiciona uma transição suave para a cor da borda */
}

.icon-link:hover {
  border-color: var(--corAzul); /* Ao passar o mouse, a borda fica azul */
}

.btn-about {
  width: auto;
  max-width: 200px;
  background-color: var(--corAzul);
  color: var(--corBranco);
  font-family: 'Lato', sans-serif;
  padding: 0.8vh 1vw;
  border-radius: 0.5em;
  border: 1px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s, color 0.3s; /* Adiciona uma transição suave para a cor de fundo e o texto */
  cursor: pointer;
}

.btn-projetos:hover {
  background-color: var(--corBranco);
  color: var(--corAzul);
}

/* ------------------------------------------------ QUEM SOU EU ------------------------------------------------  */

/* ------------------------------------------------ PROJETOS ------------------------------------------------  */
#projetos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
}

.slide-content{
  margin: 0 40px; 
  overflow: hidden;
  border-radius: 25px;
}

.slide-container{
  max-width:  1120px;
  width: 100%;
  padding: 40px 40px;
}

.card-image {
  position: relative;
  height: 110px;
  width: 180px;
  background: var(--corBranco);
  padding: 6px; 
  object-fit: cover;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0 25px 0;
}

.card-img{
  height: 140%;
  width: 140%;
  object-fit: cover;
  border-radius: 10px;
  border: 4px solid var(--corBranco);
}

.card {
  border-radius: 25px;
  background-color: var(--corBranco);
  width: 320px;
}

.image-content,.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 25px 25px 0 25px ;
  background-color: var(--corAzul);
}

.overlay::before,.overlay::after{
  content: '';
  position: absolute;
  height: 40px;
  width: 40px;
  bottom: -40px;
  right: 0;
  background-color: var(--corAzul);
}

.overlay::after{
  border-radius: 0 25px 0  0 ;
  background-color: var(--corBranco);
}

.name{
  margin-top: 22px;
  font-size: 16px;
  font-weight: 500;
  color: var(--corPreto);
  font-family: 'Supercell';
}

#tittle-projects{
  font-family: 'Supercell';
  font-size: 20px;
  font-weight: 800;
  color: var(--corPreto);
}

.description{
  margin-top: 22px;
  font-size: 14px;
  color: var(--corCinza);
  text-align: center;
  font-family: 'Lato';
}

.button{
  border: none;
  font-size: 16px;
  color: var(--corBranco);
  padding: 8px 16px;
  background-color: var(--corAzul);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;

}

.button:hover{
  background-color: #155cb3;
}

.swiper-navBtn{
  color: var(--corAzul);
  transition: color  0.3 ease;
}
.swiper-navBtn:hover{
  color: #155cb3;
}

.swiper-navBtn::before,.swiper-navBtn::after{
  font-size: 40px;
}

.swiper-button-next{
  right: 0;
}

.swiper-button-prev{
  left: 0;
}

.swiper-pagination-bullet{
  background-color: var(--corAzul);
  opacity: 1;
}

.swiper-pagination-active{
  background-color: #155cb3;;
}


@media screen and(max-width: 768px ){
  .slide-content{
    margin: 0 10px ;
  }
  .swiper-navBtn{
    display: none;
  }
}

