
@import url('nav.css');
@import url('about.css');
@import url('projetos.css');
@import url('experiencias.css');
@import url('habilidades.css');
@import url('contato.css');
@import url('footer.css');
@import url('pedro.css');

:root{
  --corPreto: #000000;
  --corPreto2: #0b0b0b;
  --corBranco: #FFFFFF;
  --corRoxo: #8257E5;
  --corAzul: #2D85F3;
  --corCinza: #878787;
  --corBranco2: #F6F6F6;
  --corPretoFosco: #7c7c7c;
  --degrade: radial-gradient(circle, rgba(45,133,243,1) 0%, rgba(46,113,166,1) 63%, rgba(45,133,243,1) 100%);

  --roxoDegrade: radial-gradient(circle, rgba(69,12,116,1) 0%, rgba(109,37,125,1) 100%);
}

/* ------------------------------------------------ GERAL ------------------------------------------------  */

@font-face {
  font-family: Acropolis;
  src: url('/fonts/Acropolis\ HTF-Black\ Regular.otf')format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Supercell';
  src: url('/fonts/Supercell-Magic\ Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Steelfish';
  src: url('/fonts/steelfish\ bd.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: #E1E1E6;
  min-height: 100vh;
  overflow-x: hidden;
}

